h1 {
  font-size: 60px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: auto;
  padding: 4rem;
}
.title, .note {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.title {
  flex: 1;
}
.note {
  flex: 2;
  padding: 0 1rem;
  word-break: break-word;
}
img {
  max-width:100%;
  max-height:100%;
}
@media (max-width: 850px) {
  h1 {
    font-size: 40px;
  }
  .container {
    flex-direction: column;
  }
  .title {
    order: 1;
  }
  .note {
    order: 2;
    padding: 0;
  }
}
